.modal-content{
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.btn-close-white{
    filter: invert(1);
}


body{

    background-color: #f5f5f5;
    font-family: "Inter", sans-serif;
}

.form-label{
    font-weight: 500;
}

.modal-body{

    max-height: 70vh;
    overflow: auto;

}