

.navbar {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #212566 !important;
    height: 15%;
}

.navbar-items-right {
    display: flex; 
    margin-left: auto;  
    gap: 20px;             
}

.navbar .nav-link {
  color: #f6e771 !important;
  font-weight: 500;
}

.nav-link:hover {
  color:  #AAAAAA!important; 
}

.navbar-logo {
    height: 25%; 
    width: 15%;  
    object-fit: contain; 
    padding-left: 25px;
}
h2{
  text-align: center;
    color: #2d2d2e;
    font-weight: 600;
    line-height: 1.3;
    margin: 0 0 10px 0;
    font-family: "Montserrat", sans-serif;
}

.fw-bold {
    font-weight: 700 !important;
}

.container{
  display: block;
  max-width: 720px;
}

.welcome{
  color: #868686;
  
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.section-gris {
    background-color: #f5f8fa;
}

.modal {
        --bs-modal-margin: 1.75rem;
        --bs-modal-box-shadow: var(--bs-box-shadow);
    }

.fade{
    transition: opacity .15s linear;
}

.card-body {
  color: #000000;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.btn-card {
    color: #fff;
    background-color: #346397;
    border-color: #346397;
    width: 25%;
  
}