.btn-primary:disabled {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
    cursor: not-allowed;
}

[disabled] {
    pointer-events: auto !important; /* Permite ver el tooltip */
}