.navbar{
padding: 1.5rem;
background: linear-gradient(135deg, #012f5a 0%, #024c7a 50%, #046aa3 100%);
}

.navbar-brand{
    font-size: 2rem;
    color: #ffff !important;
    font-weight: bold;
}

.navbar-logo {
    height: 20%; 
    width: 10%;  
    object-fit: contain; 
    padding-left: 25px;
}
.a{
    padding-left: 35px;
    align-content: space-between;
}

.h3{
  color: #000000 !important;
}

.buscador input{
 width: 100%;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    display: flex;
}

.badge {
      background-color: #007bff;
      color: white;
      padding: 5px 10px;
      border-radius: 8px;
    }

.tag {
      display: inline-block;
      background-color: #e9ecef;
      color: #333;
      padding: 3px 8px;
      border-radius: 6px;
      margin-right: 5px;
      font-size: 0.85rem;
    }
    .btn-view {
      background-color: #024c7a;
      color: white;
    }

  .fondo {
    background-image: url("/public/assets/biblioteca.jpg"); 
    background-size: cover;
    background-position: center;
    position: absolute;
    inset: 0;
    opacity: 0.4;
    z-index: -1; 
  }


.modal-header {
  background-color: #3b5998;
  color: white;            
  border-bottom: 2px solid #2e4372;
}

.modal-footer {
   background-color: #6b89c8;
  color: white;
  border-top: 2px solid;
}

.btn-outline-success {
  font-weight: 500;
}