<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista Recursos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/assets/css/musica/Estudiante.css">
</head>

<body>

    <!--barra de navegacion----->
    <nav class="navbar navbar-expand-lg bg-body-tertiary mb-5">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold text-primary" href="#"> Recursos</a>
    
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="vista-JefeDepartamento.html"
                        class="nav-link d-flex align-items-center text-primary fw-semibold">
                        <i class="bi bi-house-door me-1">Ir a inicio</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

        
        <!--Tipos de recursos-->
        <div class="row g-4">
            <!--Recurso PDF-->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <div class="card-header">
                        Documento
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Ingenieria de software</h5>
                        <p class="card-text  mb-2">Ian Sommerville</p>
                        <span class="badge">PDF</span>
                        <div class="mt-2 mb-2">
                            <span class="tag">Libro</span>
                            <span class="tag">sistemas</span>
                        </div>
                        <button class="btn btn-view w-100 action-btn">Vista Previa PDF</button>
                    </div>
                </div>
            </div>
    
            <!--Recurso audio-->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <div class="card-header">
                        Audio
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Grabacion de ingles</h5>
                        <p class="card-text mb-2">Autor</p>
                        <span class="badge">MP3</span>
                        <div class="mt-2 mb-2">
                            <span class="tag">Libro</span>
                            <span class="tag">sistemas</span>
                        </div>
                        <button class="btn btn-audio w-100 action-btn">Escuchar</button>
                    </div>
                </div>
            </div>
    
            <!--Partitura musical-->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <div class="card-header">
                        Partitura
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Partitura de Jazz</h5>
                        <p class="card-text mb-2">Autor de Partitura</p>
                        <span class="badge">XML</span>
                        <div class="mt-2 mb-2">
                            <span class="tag">notas</span>
                            <span class="tag">Jazz</span>
                        </div>
                        <button class="btn btn-audio w-100">Ver</button>
                        <button class="btn btn-descargar w-100 action-btn">Descargar</button>
                    </div>
                </div>
            </div>

            <!--Partitura musical-->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <div class="card-header">
                        Partitura
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Partitura de Jazz</h5>
                        <p class="card-text mb-2">Autor de Partitura</p>
                        <span class="badge">XML</span>
                        <div class="mt-2 mb-2">
                            <span class="tag">notas</span>
                            <span class="tag">Jazz</span>
                        </div>
                        <button class="btn btn-audio w-100">Ver</button>
                        <button class="btn btn-descargar w-100 action-btn">Descargar</button>
                    </div>
                </div>
            </div>
    

    
    
    
    
        </div>
    
    </div>

    <scrip src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></scrip>
</body>

</html>
