<div class="sidebar">
    <div class="brand p-3 text-center">
        <img src="../../assets/unah_logo.png" width="70">
        <h5 class="text-white mt-2">UNAH Systems</h5>
    </div>

    <nav class="menu">
        <a href="../students/dashboard.html" data-item="dashboard">
            <i class="bi bi-house-door-fill"></i> Inicio
        </a>

        <a href="../students/academicRecord.html" data-item="record">
            <i class="bi bi-journal-text"></i> Historial Académico
        </a>

        <a href="../students/contacts.html" data-item="contacts">
            <i class="bi bi-people-fill"></i> Contactos
        </a>

        <a href="../students/chat.html" data-item="chat">
            <i class="bi bi-chat-left-text-fill"></i> Chat
        </a>

        <a href="../students/requests.html" data-item="requests">
            <i class="bi bi-envelope-paper"></i> Solicitudes
        </a>

        <a href="../students/grades.html" data-item="grades">
            <i class="bi bi-bar-chart-fill"></i> Notas
        </a>

        <a href="./certificate.html" data-item="certificate">
            <i class="bi bi-file-earmark-text"></i> Certificado Académico
        </a>

        <a id="logoutBtn" class="logout">
            <i class="bi bi-box-arrow-right"></i> Cerrar Sesión
        </a>
    </nav>
</div>
